.entertainment__content-overview-header {
  font-family: var(--outfit-extralight);
  font-size: 32px;
  margin-bottom: 2rem;
  color: var(--white);
}

.entertainment__content-overview-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: fit-content;
}

@media only screen and (max-width: 1024px) {
  .entertainment__content-overview-header {
    margin-left: 2rem;
  }

  .entertainment__content-overview-container {
    margin-left: 2rem;
  }
}
