* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: outfit-light;
  src: url('./assets/fonts/Outfit-Light.ttf');
}

@font-face {
  font-family: outfit-medium;
  src: url('./assets/fonts/Outfit-Medium.ttf');
}

:root {

  --red: hsl(0, 97%, 63%);
  --dark-blue: hsl(223, 30%, 9%);
  --grayish-blue: hsl(223, 23%, 46%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --white: hsl(0, 0%, 100%);

  --outfit-light: outfit-light;
  --outfit-medium: outfit-medium;
}
